.header{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}


.header__nav{
  margin-top: 10px;
  display: flex;
  gap: 60px;
}

.header__link{
  font-family:Rubik;
  color: #4F5665;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}


.header__button1{
  font-family: Rubik;
  color: #0B132A;
  font-size: 16px;
  font-weight: 1000;
  border: none;
  background: none;
}

.header__button2{
  margin-left: 20px;
  width: 150px;
  height: 45px;
  border-radius: 50px;
  border: 1px solid #f53855;
  background: none;
  color: #f53855;
  font-family: Rubik;
  font-weight: bold;
  font-size: 16px;
  
}
